<?xml version="1.0"?>

<model>
  <name>AIP field</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
      <name>Vincent Coelen</name>
      <email>vincent.coelen@polytech-lille.net</email>
  </author>

  <description>
    Polytech Lile AIP robotino Field
  </description>
</model>
